In [1]:
import json
import os
import ast
import re
import pandas as pd

In [2]:
dict_list = []
for line in open('data\\raw\\australian_users_items.json', encoding='utf-8'):
  try:
    k = ast.literal_eval(line)
    dict_list.append(k)
  except:
    continue

In [33]:
df = pd.DataFrame.from_records(dict_list)

In [34]:
frames = []
user_ids = []
count = 0
for index, rows in df.iterrows():
    count += 1
    user_ids.append(rows['user_id'])
    frames.append(pd.json_normalize(rows['items']))
df1 = pd.concat(frames, keys=user_ids)

In [23]:
df2 = pd.json_normalize(df['items'][0])

In [42]:
df1.to_csv('data/processed/processed_users_items.csv')

In [43]:
df1

                    item_id                      item_name  playtime_forever  \
76561197970982479 0      10                 Counter-Strike               6.0
                  1      20          Team Fortress Classic               0.0
                  2      30                  Day of Defeat               7.0
                  3      40             Deathmatch Classic               0.0
                  4      50      Half-Life: Opposing Force               0.0
...                     ...                            ...               ...
76561198329548331 2  346330                   BrainBread 2               0.0
                  3  373330                    All Is Dust               0.0
                  4  388490  One Way To Die: Steam Edition               3.0
                  5  521570          You Have 10 Seconds 2               4.0
                  6  519140                     Minds Eyes               3.0

                     playtime_2weeks
76561197970982479 0              0.0
                  1              0.0
                  2              0.0
                  3              0.0
                  4              0.0
...                              ...
76561198329548331 2              0.0
                  3              0.0
                  4              3.0
                  5              4.0
                  6              3.0

[5153209 rows x 4 columns]